@import 'variables/colors';
@import 'variables/font-types';

.company-name {
  color: $equalizer-black;
  font-size: 3rem;
  font-weight: $semi-bold;
  letter-spacing: 10px;
  padding: 1rem 0.4rem;
  text-transform: uppercase;
  
  & > * {
    font-size: inherit;
  } 

  .ltr-green {
    color: $green;
  }
  
  .ltr-blue {
    color: $blue-sky;
  }
}
