.min-h-100vh {
  height: auto;
  min-height: 100vh;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-sentece-case::first-letter {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}


/* Diplayers */

.d-block {
  display: block;
}
