.min-h-100vh {
  height: auto;
  min-height: 100vh;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-sentece-case::first-letter {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}


/* Diplayers */

.d-block {
  display: block;
}

/* mixins */

@mixin shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow-transition {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
