<div class="detail padding-container">
  <a routerLink="/books" class="action-back">
    {{ 'BACK' | translate }}
  </a>

  <div class="detail-book">
    <div class="poster-book">
      <img [src]="urlImg" class="img">
    </div>
    <div class="info-book">
      <h2 class="title-book">
        <b>{{ title }}</b> <span class="title-genre">({{ genre }})</span>
      </h2>

      <p class="description text-sentece-case">
        <b>{{ 'AUTHOR' | translate }}</b>:
        <span class="description-info">{{ author }}</span>
      </p>
      <p class="description text-sentece-case">
        <b>{{ 'PUBLISHER' | translate }}</b>:
        <span class="description-info">{{ editorial }}</span>
      </p>
      <p class="description text-sentece-case">
        <b>{{ 'RELEASE_YEAR' | translate }}</b>:
        <span class="description-info">{{ release }}</span>
      </p>
    </div>
  </div>
</div>
