@import 'variables/colors';
@import 'variables/font-types';
@import 'variables/font-sizes';

.container-register {
  height: 100%;
  text-align: center;
  padding: 1rem;
}

.form {
  padding: 1rem;
  text-align: left;
  .label {
    padding: 0.8rem 0;
    font-weight: $semi-bold;
    font-size: $font-size-medium;
  }
}
