@import "variables/colors";

.book {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: inline-block;
  height: 100%;
  margin: 10px;
  padding: 1.25rem;
  position: relative;
  text-align: left;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 300px;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .container-book-poster {
    padding-top: 150%;
    position: inherit;
    width: 100%;

    .book-poster {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    } 
  }

  .book-autor,
  .book-title {
    display: block;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  
  .book-title {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.4rem 0;
  }

  .book-autor {
    color: $gray-opacity;
  }

  .btn-add {
    align-items: center;
    background: $green;
    border-radius: 50%;
    bottom: 0.5rem;
    color: $white;
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: bold;
    height: 1rem;
    justify-content: center;
    padding: 0.65rem;
    position: absolute;
    right: 0.5rem;
    width: 1rem;
  }
}
