@import "variables/colors";

.title-detail {
  font-size: 2.4rem;
}

.list-books {
  margin: 1rem 0 1rem 2rem;

  .item-book {
    align-items: center;
    border-bottom: 1px solid $equalizer-black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .icon-delete {
    color: $danger;
  }
}

.face-dissatisfied {
  display: block;
  font-size: 6rem;
  padding: 2rem 0;
}
